@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --b-bg-color: #ffffff;

    --main-light-color: #0c79e3;
    --main-dark-color: #074380;
    --main-dark-alpha-color: #07438040;

    --text-color: #ffffff;
    --text-primary-color: #a0a0a0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--b-bg-color);
}

/*DISPLAY FLEX CLASSES*/

.dflex-column {
    display: flex;
    flex-direction: column;
}

.dflex-row {
    display: flex;
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.wrapper {
    height: auto;
    width: 1200px;
    padding: 8px;
}

/*DISPLAY FLEX CLASSES*/

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../img/content/header/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.h-navbar {
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(7px);
}

.h-n-logo {
    cursor: pointer;
}

.h-n-logo>img {
    height: 64px;
    width: 128px;
    transition: transform 0.32s linear;
}

.h-n-logo>img:hover {
    transform: rotateY(180deg);
}

.h-n-menu>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.h-n-menu>ul>li {
    display: flex;
}

.h-n-menu>ul>li:not(:last-of-type) {
    margin-right: 16px;
}

.h-n-menu>ul>li>a {
    position: relative;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    padding: 8px;
    transition: color 0.32s linear;
}

.h-n-menu>ul>li>a:hover {
    color: var(--main-light-color);
}

.h-n-menu>ul>li>a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2px;
    width: 0px;
    background-color: var(--main-light-color);
    transition: width 0.32s linear;
    z-index: -1;
}

.h-n-menu>ul>li>a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 2px;
    width: 0px;
    background-color: var(--main-light-color);
    transition: width 0.32s linear;
    z-index: -1;
}

.h-n-menu>ul>li>a:hover::before,
.h-n-menu>ul>li>a:hover::after {
    width: 100%;
}

.h-description {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.h-description>h3 {
    position: relative;
    font-family: "Raleway";
    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-primary-color);
    margin-bottom: 16px;
}

.h-description>h3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -48px;
    height: 2px;
    width: 32px;
    transform: translate(0%, -50%);
    background-color: var(--main-light-color);
}

.h-description>h3::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -48px;
    height: 2px;
    width: 32px;
    transform: translate(0%, -50%);
    background-color: var(--main-light-color);
}

.h-description>h4 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--main-light-color);
}

.h-description>h5 {
    position: relative;
    height: 66px;
    width: auto;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--text-color);
}

.h-description>h5::before {
    content: "";
    position: absolute;
    top: 0px;
    right: -10px;
    height: 100%;
    width: 4px;
    background-color: var(--text-color);
    opacity: 1;
    animation: typingText 0.32s linear infinite alternate;
}

@keyframes typingText {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.h-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.32);
}

.h-info-block {
    border-radius: 8px;
    transition: background-color 0.32s linear;
    padding: 16px;
}

.h-info-block:hover {
    background-color: var(--main-dark-alpha-color);
}

.h-info-block-column {
    margin-left: 16px;
}

.h-info-block-column>p {
    font-family: "Raleway";
    line-height: 24px;
    word-spacing: 2px;
}

.h-info-block-column>p:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-color);
}

.h-info-block-column>p:nth-child(2) {
    font-size: 14px;
    font-weight: 300;
    border-top: 2px solid var(--main-dark-color);
    color: var(--text-primary-color);
}

.fa-flash-first-type {
    font-size: 32px;
    color: #074380;
}






















.main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.m-about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 128px;
    margin: 64px 0px;
}

.m-about-us>img {
    border-radius: 12px;
}

.m-au-description {
    margin-left: 32px;
}

.m-au-description>h3 {
    position: relative;
    font-family: "Georgia";
    font-size: 42px;
    font-weight: bolder;
    word-spacing: 8px;
    margin-bottom: 42px;
}

.m-au-description>h3::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0px;
    height: 4px;
    width: 256px;
    background-color: #0c79e3;
}

.m-au-description>p {
    font-family: "Lato";
    font-size: 18px;
    text-align: justify;
    font-weight: 300;
    line-height: 32px;
    color: #000000;
}

.m-lending {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.m-l-block {
    position: relative;
    height: 250px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.m-l-b-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 121, 227, 0.2);
    opacity: 0;
    transition: opacity 0.32s linear;
}

.m-l-block:hover .m-l-b-overlay {
    opacity: 1;
}

.m-l-box-one {
    background-image: url(../img/content/lending/bg-box-1.jpg);
    animation-delay: 0.4s;
}

.m-l-box-two {
    background-image: url(../img/content/lending/bg-box-2.jpg);
    animation-delay: 0.2s;
}

.m-l-box-three {
    background-image: url(../img/content/lending/bg-box-3.jpg);
    animation-delay: 0.2s;
}

.m-l-box-four {
    background-image: url(../img/content/lending/bg-box-4.jpg);
    animation-delay: 0.4s;
}










.m-price-block {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 128px;
}

.m-p-b-price {
    height: max-content;
    width: fit-content;
    margin-right: 32px;
}

.m-p-b-c-header {
    background-color: #0c79e3;
}

.m-p-b-c-body {
    background-color: #959595;
}

.m-p-b-c-body>p:nth-of-type(2n+1) {
    color: red;
}










.flex-centered {
    max-width: 1200px !important;
}













.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: red;
    height: 250px;
}

















/*MEDIA QUERY*/

@media screen and (max-width: 250px) {}

@media screen and (min-width: 250px) {}

/*MEDIA QUERY*/